//FONT FAMILY
$raleway:'Raleway', sans-serif;

//COLORES

$gainsboro: #dcdcdc;
$dodgerblue: #1e90ff;
$coral: #ff7f50;
$gris:rgb(231, 231, 231);


//FONT WEIGHT

$light: 300;
$regular: 400;
$bold: 700;


//FONT SIZES 

$x-large:2rem;
$large:1.5rem;
$regular:1.3rem;
$small:1rem;
$x-small:0.8rem;